<div class="container">
  <div class="cell">
    <div class="profile_banner">
      <div class="head_image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Avatar_girl_face.png" alt="" />
      </div>
      <div class="head_text">
        <h4>
          请选择或新增邮寄方式
        </h4>
      </div>
    </div>
    <div class="cell">
      <div class="weui_cells weui_cells_form">
        <%= form_tag({controller: 'express_select', action: 'create'}, method: 'post') do %>
        <div class="weui_cells_title">选择邮寄方式</div>
        <div class="weui_cells weui_cells_radio">
          <% @express.each do |e| %>
            <label class="weui_cell weui_check_label" for=<%= "express_method_#{e.id}" %>>
              <div class="weui_cell_bd weui_cell_primary">
                <p><%= e.company %></p>
              </div>
              <div class="weui_cell_ft">
                <%= radio_button_tag(:express_method, e.id, true, :class => "weui_check")%>
                <span class="weui_icon_checked"></span>
              </div>
            </label>
          <% end %>
          
          <label class="weui_cell weui_check_access">
            <a href="/express/new" class="weui_cell_bd weui_cell_primary">
              <p>添加</p>
            </a>
            <div class="weui_cell_ft">
            </div>
          </label>

        </div>
              
        <div class="weui_cells_title">&nbsp;</div>
        <div class="weui_cells weui_cells_access">
          <a href="/edit_express" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
              <p>
              编辑
              </p>
            </div>
            <div class="weui_cell_ft">
            </div>
          </a>
        </div>
        
        <div class="weui_cells_title">&nbsp;</div>
        <div class="weui_cell weui_cell_switch">
          <div class="weui_cell_hd weui_cell_primary">立即上架</div>
          <div class="weui_cell_ft">
            <%= check_box_tag(:publish, nil, true, :class => "weui_switch") %>
          </div>
        </div>

        <div class="weui_btn_area" style="margin-top: 15px;">
          <%= submit_tag("发布", :class => "weui_btn weui_btn_primary") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <script type="text/template" id="toast_template">
    <div id="toast">
      <div class="weui_mask_transparent"></div>
      <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">已添加</p>
      </div>
    </div>
  </script>

  <script type="text/template" id="dialog_template">
    <div class="weui_dialog_alert" id="dialog">
      <div class="weui_mask"></div>
      <div class="weui_dialog">
        <div class="weui_dialog_hd">
          <strong class="weui_dialog_title">新建失败</strong>  
        </div>
        <div class="weui_dialog_bd">无法创建新的邮寄方式，请稍后再试</div>
        <div class="weui_dialog_ft">
          <a class="weui_btn_dialog primary">确认</a>
        </div>
      </div>
    </div> 
  </script>

</div>
